{% extends 'index.html' %}
{% block tabla%}
  {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <a href="{% url 'CrearCurso' %}" class="btn btn-success">Agregar</a>
    <table id="datatable" class="table table-striped table-bordered">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Codigo</th>
              <th>Candtidad Estudiantens</th>
              <th>Acciones</th>
          </tr>
        </thead>
        {% for Curso in Cursos %}
          <tr>  
            
            <th>{{ Curso.Nombre }}</th>
            <th>{{ Curso.Descripcion }}</th>
            <th>{{ Curso.Codigo }}</th>
            <th>{{ Curso.CantidadEstudiantes }}</th>

            <th>
              <a href="{% url 'EditarCurso' Curso.id %}" class="btn btn-success">Update</a>
              <a href="{% url 'EliminarCurso' Curso.id %}" class="btn btn-danger">Remove</a>
            </th> 
          </tr>
        {% endfor %}
       </table>
{% endblock %}