{% extends 'IndexEstudiante.html' %}
{% block tabla%}
  {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
       
    {% endif %}


    <div class="menu_section">

    </div>
    </div>
    {% for Cues in Cuestionarios %}
             <div class="panel panel-default">
                 <div class="panel-heading"><h3>{{ Cues.Nombre }}</h3></div>
                <div class="panel-body">
                    <h4>Aciertos: {{ Cues.Nombre }}</h4>
                    <a href="{% url 'ResolverCuestionario' Cues.id %}" class="btn btn-success" >Ver Cuestionario</a>
                </div>
             </div>
    {% endfor %}
{% endblock %}