{% extends 'Indexprofesor.html' %}
{% block tabla%}
  {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
       
    {% endif %}

    <h2>Asignar Actividad</h2>

    <div class="menu_section">
       <a href="{% url 'CrearActividad' Materia %}" class="btn btn-success">Asignar Nueva Actividad</a>
    </div>
    </div>
    <table id="datatable" class="table table-striped table-bordered">
        <thead>
          <tr>

            <th>Nombre</th>

            <th>fecha de entrega</th>
            <th>Estado_Actividad</th>
            
            
          </tr>
        </thead>
        {% for Actividad in Actividades %}
          <tr>
            <th>{{ Actividad.Nombre }}</th>
            <th>{{ Actividad.Fecha_Entrega }}</th>
            {% if Actividad.Fecha_Entrega|date:"Y-m-d" > hoy %}
                <th>Pendiente</th>
            {% else %}
                <th>Finalizado</th>
            {% endif %}
          </tr>
        {% endfor %}
       </table>

{% endblock %}